@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.3;
    color: rgba(0, 0, 0, 255);
    transition: all .3s linear;
}

/* HEADER */
.header {
    width: 100%;
    height: 550px;
    background: url('../img/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.header__nav {
    padding: 30px 0;
}
.logo img {
    width: 160px;
    height: 45px;
}
.header__nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    padding: 0 10px;
    list-style-type: none;
}
.nav__link {
    font-weight: 600;
    text-transform: capitalize;
    text-decoration: none!important;
    color: #000000;
}
.header__right {
    display: flex;
    align-items: center;
}
.header-right_icon img {
    width: 21px;
    height: 20px;
    cursor: pointer;
}
.header-right_icon {
    padding: 0 20px;
    line-height: 1;
}
.header__contacts {
    display: flex;
    flex-direction: column;
}
.header__contacts a {
    font-weight: 600;
    text-decoration: none!important;
    color: #000000;
    padding-bottom: 7px;
    line-height: 1;
}
.header__contacts {
    font-size: 14px;
    line-height: 1;
}
.banner__title {
    font-size: 36px;
}
.banner__slide p {
    line-height: 1;
    padding: 30px 0;
    font-size: 18px;
}
.banner__slide button {
    height: 50px;
    width: 210px;
    text-align: center;
    font-weight: 500;
    line-height: 1;
    background: #ef3124;
    color: #fff;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    transition: all .3s linear;
    outline: none;
}
.banner__slide button:hover {
    background: #bd291e;
}
/* HEADER:END */

/* BANNER */
.banner {
    overflow: hidden;
    padding: 50px 0 140px 0;
}
.banner__slider {
    display: flex;
    align-items: center;
}
.banner__slide {
    min-width: 100%;
}
.banner__nav {
    display: flex;
    align-items: center;
    padding-top: 40px;
}
.banner__point {
    width: 6px;
    height: 6px;
    background-color: #999999;
    border-radius: 3px;
    transition: all 0.3s linear;
    margin-right: 10px;
    cursor: pointer;
}
.banner__point.active {
    width: 20px;
    background-color: #000000;
}
/* BANNER:END */

/* courses */
.courses {
    margin-top: -50px;
}
.courses .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px 50px;
    box-shadow: 0px 0px 13px -4px rgba(0,0,0,0.75);
}
.courses__list {
    display: flex;
    align-items: center;
    height: 100%;
    list-style-type: none;
}
.corses__item {
    margin-left: 50px;
}
.courses__price {
    font-size: 24px;
    margin-bottom: 10px;
    line-height: 1;
}
.courses__info {
    display: flex;
}
.courses__name {
    line-height: 18px;
    font-size: 18px;
    color: #f0483e;
    font-weight: 600;
    margin-right: 10px;
}
.courses__bank {
    line-height: 18px;
    font-weight: 500;
    color: #9b9da1;
}
.courses__title h2 {
    font-size: 24px;
    line-height: 1;
    padding-bottom: 6px;
}
.courses__title p {
    color: #9b9da1;
    font-weight: 500;
    line-height: 1;
}
/* courses:END */

/* calculator */
.calculator {
    padding: 60px 0;
}
.calculator__wrap {
    display: flex;
    justify-content: space-between;
}
.calculator__title {
    font-size: 32px;
    line-height: 1;
}
.calculator__best,
.calculator__main {
    width: calc((100% - 50px) / 2);
}
.calculator__best {
    padding: 30px 40px 40px 40px;
    box-shadow: 0px 2px 13px -3px rgba(153,153,153,1);
}
.calc__control {
    position: relative;
    width: 100%;
    margin-top: 35px;
}
.calc__control label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    color: rgba(155, 157, 161, 255);
    padding: 16px 20px 20px 20px;
    transition: all .3s linear;
}
.calc__control input {
    width: 100%;
    height: 70px;
    background-color: #eeeff1;
    font-size: 20px;
    font-weight: 500;
    padding: 36px 20px 20px 20px;
    outline: none;
    border: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.calc__desc {
    font-weight: 500;
    font-size: 12px;
    color: rgba(155, 157, 161, 255);
    margin-top: 25px;
}
.form-control__wrap {
    position: relative;
}
.calc__numbers {
    display: flex;
    padding-top: 10px;
    align-items: center;
    font-weight: 500;
    justify-content: space-between;
    font-size: 12px;
    color: rgba(155, 157, 161, 255);
}
.calc__slider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
}
.calc__slider-current {
    background-color: #ef3124;
    width: 73%;
    height: 100%;
    transition: all .3s linear;
}
.calc__clider-point {
    position: absolute;
    left: 73%;
    top: -6px;
    margin-left: -6px;
    width: 15px;
    height: 15px;
    background-color: #ef3124;
    border-radius: 50%;
    transition: all .3s linear;
}
.control-srok .calc__slider-current {
    width: 60%;
}
.control-srok .calc__clider-point {
    left: 60%;
}
.calculator__best_title {
    font-size: 24px;
}
.calculator__best_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    margin: 25px 0;
    padding: 30px 0 22px 0;
}
.calculator__best_params-list {
    display: flex;
    list-style-type: none;
}
.calculator__best_params-item {
    margin-left: 30px;
}
.calculator__best_params-item span {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 1;
}
.calculator__best_params-item p {
    font-size: 14px;
    color: #999999;
}
.calculator__best-controls button {
    width: 210px;
    height: 50px;
    border-radius: 8px;
    margin-right: 20px;
    border: 0;
    font-weight: 600; 
    cursor: pointer;
    outline: none;
    transition: all .3s linear;
}
.calculator__best-send {
    color: #fff;
    background-color: #f0483e;
}
.calculator__best-send:hover {
    background-color: #bd291e;
}
.calculator__best-show-all:hover {
    background-color: #b6b6b6;
}
/* calculator:end */

/* best-mounth */
.best-mounth {
    background-color: #f2f6ff;
    padding: 60px 0;
}
.best-mounth__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
}
.best-mounth__title h2 {
    font-size: 32px;
}
.best-mounth__title button {
    width: 210px;
    height: 50px;
    background: #dae0eb;
    border: 0;
    border-radius: 4px;
    font-weight: 500;
    outline: none;
    transition: all .3s linear;
    cursor: pointer;
}
.best-mounth__title button:hover {
    background: #b9c7e2;
}
.best-mounth__tabs {
    display: flex;
    align-items: center;
    height: 33px;
    border-bottom: 1px solid #d8dadf;
}
.best-mounth__tab {
    height: 100%;
    font-weight: 600;
    margin-right: 40px;
    cursor: pointer;
}
.best-mounth__tab:hover,
.best-mounth__tab.active {
    border-bottom: 3px solid #f0483e;
}
.tabs__content {
    padding-top: 42px;
}
.best-mounth__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}
.best-mounth__card {
    width: calc((100% - 60px) / 4);
    padding: 30px 30px 0 30px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px rgba(153,153,153,1);
    overflow: hidden;
    text-align: center;
}
.best-mounth__card_name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    padding: 20px 0;
    color: rgba(155, 157, 161, 255);
    margin-bottom: 30px;
    border-bottom: 1px solid #d8dadf;
}
.best-mounth__stavka {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}
.best-mounth__summ {
    font-weight: 500;
    color: #000000;
    margin-bottom: 10px;
}
.best-mounth__srok {
    font-weight: 500;
    color: #000000;
    margin-bottom: 30px;
}
.best-mounth__card button {
    background-color: #ef3124;
    color: #fff;
    font-weight: 500;
    height: 50px;
    width: calc(100% + 60px);
    margin-left: -30px;
    border: 0;
    transition: all .3s linear;
    outline: none;
    cursor: pointer;
}
.best-mounth__card button:hover {
    background-color: #b9291f;
}
/* best-mounth:end */

/* best-credit */
.best-credit {
    padding: 60px 0 80px 0;
}
.best-credit__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.best-credit__popular {
    width: 400px;
    padding: 20px 40px;
    box-shadow: 0px 0px 5px 0px #afafaf;
    border-radius: 10px;
}
.best-credit__popular-items {
    display: flex;
    flex-wrap: wrap;
}
.best-credit__popular-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 74px;
    margin-top: 25px;
    margin-right: 20px;
}
.best-credit__popular-item:nth-child(2n) {
    margin-right: 0;
}
.best-credit__popular-item a {
    text-decoration: none;
    font-weight: 500;
    margin-left: 6px;
    color: rgba(239, 49, 36, 255);
}
.best-credit__popular h3 {
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eeeff1;
}
.best-credit__title {
    font-size: 32px;
    padding-bottom: 40px;
}
.best-credit__list {
    height: 100%;
    width: calc(100% - 420px);
    margin-right: 20px;
    list-style-type: none;
}
.best-credit__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eeeff1;
    height: 55px;
}
.best-head {
    font-weight: 500;
    color: rgba(155, 157, 161, 255)!important;
}
.best-col-1 {
    flex: 4;
    font-weight: 500;
}
.best-col-1 a {
    font-size: 18px;
    color: #000000;
    font-weight: 500;
}
.best-col-2 {
    flex: 2;
    font-size: 18px;
    color: #000000;
    font-weight: 500;
}
.best-col-3 {
    flex: 1;
    font-size: 18px;
    color: #000000;
    font-weight: 500;
}
.best__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    line-height: 1;
}
.best__refresh {
    color: #9b9da1;
    font-size: 16px;
}
.best__all a {
    color: #ef3124;
    font-size: 18px;
    margin-left: 5px;
    text-decoration: none;
    line-height: 1;
}
/* best-credit:END */

/* Feedback */
.feedback__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.feedback__head h2 {
    font-size: 32px;
}
.feedback-btns button {
    width: 210px;
    height: 50px;
    border: 0;
    border-radius: 4px;
    font-weight: 500;
    transition: all .3s linear;
    outline: none;
}
.feedback__all {
    margin-right: 20px;
    background-color: #eeeff1;
}
.feedback__all:hover {
    background-color: #aaaaaa;
}
.feedback__new {
    background-color: #ef3124;
    color: #fff;
}
.feedback__new:hover {
    background-color: #b3261c;
}
.feedback__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}
.feedback__item {
    width: calc((100% - 40px) / 3);
    padding: 40px;
    box-shadow: 0px 0px 3px 0px #afafaf;
    border-radius: 6px;
}
.feedback__item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.feedback__date {
    font-size: 14px;
    color: rgba(155, 157, 161, 255);
}
.feedback__stars {
    display: flex;
}
.feedback__stars img {
    margin: 0 2px;
}
.feedback__title {
    padding-top: 25px;
    font-size: 20px;
}
.feedback__text {
    padding: 15px 0;
    font-size: 14px;
}
.feedback__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: rgba(155, 157, 161, 255);
}
/* Feedback:end */

/* rassia-bank */
.russia-banks {
    max-width: 817px;
    margin: 0 auto;
    padding: 70px 0 40px 0;
}
.banks__header {
    font-size: 32px;
}
.russia-banks p {
    margin-top: 20px;
}
.russia-banks h3 {
    padding: 15px 0;
}
.russia-banks li {
    padding-top: 10px;
    margin-left: 20px;
}
/* rassia-bank:END */

/* FOOTER */
.footer {
    padding: 40px 0 60px 0;
    background-color: #232628;
    color: rgba(255, 255, 255, 255);
}
.footer ul {
    list-style-type: none;
}
.footer a {
    color: #fff;
    text-decoration: none;
}
.footer .container {
    display: flex;
    justify-content: space-between;
}
.footer__logo img {
    margin-bottom: 15px;
}
.footer__nav {
    margin-bottom: 15px; 
}
.footer__social {
    display: flex;
    align-items: center;
}
.footer__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__social-items {
    display: flex;
    margin-left: 35px;
}
.footer__social-item {
    padding-right: 25px;
}
.footer__item:first-child {
    padding-left: 0;
}
.footer__item:last-child {
    padding-right: 0;
}
.footer__item {
    padding: 0 15px;
}
.footer__right {
    display: flex;
    flex-direction: column;
}
.footer__right a {
    font-weight: 600;
}
/* FOOTER:END */

/* Containers */
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1240px;
    }
}
